body {
  /*margin: 0;*/
  font-family: sans-serif;
}
.todoListMain{
  padding: 50px;
  background-color: #66CCFF;
}
.todoListMain .theList{
  list-style: none;
  padding-left:0;
  width: 255px;

}


 .theList  button{
  display:table-cell;
  padding: 15px;
  font-size: 16px;
  margin: 5px;
  background-color: #008B8B;
  color: #000;
  border: 2px solid #008B8B;
  border-radius: 5px;
}

.todoListMain .theList li{
  display:table-cell;
  color: #333;
  background-color: rgba(255,255,255,.5);
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 5px;

}

.todoListMain .theList div{
  display:table;
  margin: 10px;
}

.todoListMain .header input{
  padding: 10px;
  font-size: 16px;
  border: 2px solid #FFF;
}

.todoListMain form button {
  padding: 10px;
  font-size: 16px;
  margin: 10px;
  background-color: #0066FF;
  color: #FFF;
  border: 2px solid #0066FF;
  border-radius: 5px;
}

.todoListMain .header .button:after{
  background-color: #003399;
  border: 2px solid #003399;
}
